<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SS} %highlight{  %-5p (%t:%C{1}:%M:%L) %n%m%n}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="scraper" level="ERROR" additivity="true"/>
        <!--<logger name="org" additivity="false" level="off"/>-->
    </Loggers>
</Configuration>
